body{
    background-color: #000;
    color: #fff;
    /*font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif; */
    font-family: monospace;
}

.mainstuff{
}

.noborder{
    padding: 2.5rem 3rem;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.button-primary {
    background-color: #27a91f !important;
}

.errorbox {
  background-color: #f33;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #666;
  border-radius: 4px;
  color: #111;
}

input, textarea {
    color: #000 !important;
}

input#title{
    width: 100%;
}

tr {
    width: 100%;
}
tbody {
    width: 100%;
}

#plans #text {
    font-size: 1.4em;
    padding-bottom: 2rem;
}
